* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #b46549;
  --secondary-color: #d1a589;
  --primary-font-color: #1e1105;
  --secondary-font-color: #1c253a;
}

body {
  background-color: var(--primary-color);
  color: var(--primary-font-color);
}

html {
  font-size: 18px;
}

h1 {
  font-size: 1rem;
}

.parent {
  font-size: 12px;
}

p {
  width: 50vw;
  height: 50vh;
  background-color: var(--secondary-color);
  font-size: 2em;
  color: var(--secondary-font-color);
}
